.App {
  display: grid;
  justify-content: center;
  grid-template-columns:repeat(4,1fr);
  /* grid-template-rows: repeat(4,1fr);  */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  column-gap: 50px;
  row-gap: 50px;
  margin: 70px;
}

.hrjbtn{
  border: none;
  padding: 10px;
  width: 150px;
  border-radius: 30px;
}
.state,.form,.listkey,.props,.useRef,.useRef2 ,.useEffect,.prestate{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.useEffect{
  grid-column: 3 / 5;
}
.br{
  color: aquamarine;
  background: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blurs the content behind the card */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border-radius: 15px; /* Rounded corners */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Light border to enhance the glass effect */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 

}
.inp input{
  width: 200px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: none;
  text-align: center;
}
.inp Button{
  margin-top: 20px;
}
.formvalbox{
  display: flex;
  flex-direction: column;
  background-color: rgba(132, 187, 197, 0.5);
  backdrop-filter: blur(3px);
  width: 250px;
  height: max-content;
  margin: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 100px 1px 1px 1px solid gray;
  padding: 30px;
  
}
.formvalbox label{
  color: rgb(16, 126, 126);
  font-weight: 700;
}
.formval{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
}
.formdis{
  width: 300px;
  height: 350px;
  margin: 30px;
  /* margin-top: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
.loginsucces{
    background-color: rgb(72, 239, 183);
    color: aliceblue;
    width: 0px;
    border-radius: 40px;
    animation: grow 0.5 forwards;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.loginsucces h4{
  font-size: 0; 
  animation: grow 0.5s forwards;
}

form span{
  color: rgb(235, 86, 86);
  font-weight: 500;
}

@keyframes grow {
  0%{
    font-size: 0;
    width: 0;
  }
  100%{
    width:350px;
    font-size: 24px;
  }
}

.todo{
  grid-column: 1/3;
  /* width: max-content; */
}
.todo h1{
  text-align: center;
}
.todo-top{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.todo-top button{
  width: 60px;
  height: 50px;
  border-radius: 20px;
  margin-left: 10px;
}
.todo-top input[type*='text']{
width: 300px;
height: 50px;
border-radius: 20px;
}

.todo-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  color: rgb(12, 9, 7);
}

.todo-items{
  display: grid;
  grid-template-columns:1fr 5fr 1fr; 
  margin-bottom: 10px;
  align-items: center;
  /* background-color: rgba(255, 255, 255, 0.772); */
  border-radius: 20px;
}

.todo-items button{
  border-radius: 20px;
}
.todo-items span{
  margin-left: 10px;
}
.todo-items input{
  margin-left: 10px;
}

.All{
  grid-column: 3/5;
}
.Allinone {
  text-align: center;
  margin-top: 100px;
  display: grid;
  justify-items: center;
  row-gap: 10px;

}

.header{
  width: 300px;
}
.buttons{
  display: flex;
  column-gap: 20px;
}
.Allinone input{
  width: 300px;
}
.Allinone form{
  display: flex;
  flex-direction: column;
  align-items: center;
}